.radix-themes {
	--default-font-family: var(--font-zen-kurenaido)
  --heading-font-family: var(--font-zen-kurenaido)
	--code-font-family: var(--font-zen-kurenaido)
	--strong-font-family: var(--font-zen-kurenaido)
	--em-font-family: var(--font-zen-kurenaido)
	--quote-font-family: var(--font-zen-kurenaido)
}
