// .babelrc

{
  "presets": [
    [
      "next/babel", // Next.jsのデフォルト設定を読み込む
      {
        // ターゲットブラウザはNext.jsが自動で設定してくれる
        "preset-env": {
          // 💡 core-jsを自動的に読み込ませるための設定だよ！
          "useBuiltIns": "usage", 
          "corejs": { 
            "version": 3, // インストールしたcore-jsのバージョンを指定
            "proposals": true 
          }
        }
      }
    ]
  ]
}