# .browserslistrc

# 💡 世界中の市場で使われているブラウザの99.5%以上をサポートするよ！
> 0.5%

# 💡 公式にサポートが終了したブラウザは対象外にするよ！
not dead

# 💡 Opera Miniはモバイル時代に終わりを迎えたので対象外にするよ！
not op_mini all

# 💡 IE 11はNext.jsがデフォルトでサポート外にしたので、入れないのが大人らしいよ！
# not IE 11