.header {
  &__logo {
    width: 300px !important;
    height: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__aside {
    display: flex;
    justify-content: space-between;
  }
}
